<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAuBCYLAHd68yzUMdPBUTSUFsRgicZMAP8</string>
	<key>GCM_SENDER_ID</key>
	<string>84113259386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app-salto</string>
	<key>PROJECT_ID</key>
	<string>app-salto-fd1fc</string>
	<key>STORAGE_BUCKET</key>
	<string>app-salto-fd1fc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84113259386:ios:a1f77264e9ddcdda22f4c3</string>
</dict>
</plist>